 
<div>
  <span id='thumbnails' *ngFor="let source of selectedImageList">
    
    <img src={{source.image}} (click)='showFullSize(source)' title={{source.title}}/> 
    <!--alt={{source.fileName.substring(35)}}x/-->
  </span>
</div>

<div id="summaryDiv" *ngIf="themeSummary !== ''|| themeHeader !== ''" [ngStyle]="headerStyle()" >
  <h5 *ngIf="themeHeader !== ''" style='font-size: larger;font-weight: 700;'>{{themeHeader}}</h5>
  <div *ngIf="themeSummary !== ''" 
      style='border:none;background-color: inherit; padding: 0; margin:0;' [innerHTML]="themeSummary">
  </div>
</div>
<button  (click)='prevImage()' title='prev' class="btn btn-secondary responser" ><<</button>
<button  (click)='nextImage()' title='next' class="btn btn-secondary responser"  >>></button>
<button  (click)='ActualSize = !ActualSize' title='next' class="btn btn-primary responser">toggle size</button>
<button  *ngIf="currentImage.iterations.length > 0" (click)='navigatedIteration()' title='next' class="btn btn-primary responser">Iterations</button>
<div  id='larger'  *ngIf="currentImage.iterations.length === 0"> 
  <!-- --><img id="actualSize"  src={{currentImage.image}} *ngIf="ActualSize.toString() === 'true'"/> 
  <img id="smallerSize" src={{currentImage.image}} *ngIf="ActualSize.toString() === 'false'" /> 
  <div style='float:left;margin-left:5px;border:2px inset goldenrod;max-width: 300px;'>
    <span [innerHTML]="currentImage.title"></span>
  </div>
  
</div>
<div  id='larger'  *ngIf="currentImage.iterations.length > 0"> 
  <!-- --><img id="actualSize"  src={{currentImage.iterations[currentImage.iterationIndex].fullFileName}} *ngIf="ActualSize.toString() === 'true'"/> 
  <!--img id="smallerSize" src={{currentImage.image}} *ngIf="ActualSize.toString() === 'false'" /--> 
    
    <img id="smallerSize" src={{currentImage.iterations[currentImage.iterationIndex].fullFileName}} /> 
    <!--alt={{source.fileName.substring(35)}}x/-->
   <div style='float:left;margin-left:5px;border:2px inset goldenrod;max-width: 300px;'>
    <span [innerHTML]="currentImage.iterations[currentImage.iterationIndex].description"></span>
  </div>
  
</div>
