 
<div>
  <span id='thumbnails' *ngFor="let source of selectedImageList">
    
    <img src={{source.image}} (click)='showFullSize(source)' title={{source.title}}/> 
    <!--alt={{source.fileName.substring(35)}}x/-->
  </span>
</div>

<div id="summaryDiv" *ngIf="themeSummary !== ''|| themeHeader !== ''" [ngStyle]="headerStyle()" >
  <h5 *ngIf="themeHeader !== ''" style='font-size: larger;font-weight: 700;'>{{themeHeader}}</h5>
  <div *ngIf="themeSummary !== ''" 
      style='border:none;background-color: inherit; padding: 0; margin:0;' [innerHTML]="themeSummary">
  </div>
</div>
<div  id='larger'>
  <img src={{currentImage.image}} /> 
  <div style='float:left;margin-left:5px;border:2px inset goldenrod;max-width: 300px;'><span [innerHTML]="currentImage.title"></span></div>
</div>
<button  (click)='prevImage()' title='next'
        classs="default primary"><<</button>
        <button  (click)='nextImage()' title='next'
        classs="default primary">>></button>