/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.smallbtns {
    max-height: 25px;
    font-size: 10px;
    text-align: center;
    margin: 2px 10px;
}
body {
    background-image: linear-gradient(to right, red, orange, #F4C430, yellow, lightgreen, aliceblue, skyblue);
}