<form [formGroup]="folderTreeForm">
   <div *ngFor="let folderSelect of FolderSelects.controls; let i=index" >
    <label for="imageTab1">Content Type</label>
    <select type="Select" [formControlName]="getSub(i+1)"  (change)="getImageFolders($event,Folder(i))">
        <option *ngFor="let level1File of Folder(i); let k=index" [disabled]="level1File.indexOf('(file)') >= 0">{{level1File.replace('(file)','')}}</option>
    </select>
   </div>
 
</form>
<!-- <label >Set Destination Folders:</label>
<div>
<label>Level1</label>
<select id="level1" type="Select" (change)="getImageSubFolder($event,2)" >
    <option *ngFor="let level1File of level1Files" [disabled]="level1File.indexOf('(file)') >= 0">{{level1File.replace('(file)','')}}</option>
</select>
</div>
<div> 
<label>Level2</label>
<select id="level2" type="Select" (change)="getImageSubFolder($event,3)" >
    <option *ngFor="let level2File of level2Files" [disabled]="level2File.indexOf('(file)') >= 0">{{level2File.replace('(file)','')}}</option>
</select>
</div>  
<div>
    <label>Level3</label>
    <select id="level3" type="Select" (change)="getImageSubFolder($event,4)" >
        <option *ngFor="let level3File of level3Files" [disabled]="level3File.indexOf('(file)') >= 0">{{level3File.replace('(file)','')}}</option>
    </select>
</div>
<div>
    <label>FileName</label>
   <input type="text" [(ngModel)]="imageFileName" #ctrl="ngModel">
</div>  
-->