.main-content {
    float:left; 
    width:80%; 
    height:100%; 
    padding:10px; 
    background-color: beige;
    border: 4px inset brown ;
    border-radius: 7px;
}
.right-nav {
    float:right; 
    width:15%; 
    height:100%; 
    padding:10px; 
    background-color: aliceblue;
    border: 4px outset darkblue ;
    border-radius: 7px;
}