/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body  {
    padding:15px;
    background: linear-gradient(#eeeeff, #99aaee);
    background-repeat: no-repeat;
    min-height:1000px;


}